<div class="fit flex items-center justify-center py2 px3 {% if headerScheme == 'transparent' %} bg-transparent {% elsif headerScheme == 'accented' %} bg-accented {% else %} bg-white {% endif %}">
    <div class="flex items-center">
        <a href="{{ site.url }}"><amp-img src="{%- if headerScheme -%} {{ site.logo_alt }} {%- else -%} {{ site.logo }} {%- endif -%}" width="60" height="60" layout="fixed"></amp-img></a>
        <div class="flex-auto ml1 py1 {% if headerScheme %} white {% else %} black {% endif %}">
            <p class="m0 headings h1" style="font-weight: 800;"><a href="/">{{ 'PKS' | upcase }}</a></p>
            <p class="m0 headings h5 bold"><a href="/">{{ 'Mentawa Baru Ketapang' }}</a></p>
        </div>
    </div>
    <div class="ml-auto {% if headerScheme %} fill-white {% else %} fill-black {% endif %}">
        <div role="button" on="tap:site-menu.open" tabindex="0" aria-label="Open Sidebar">
            {% include 'components/hamburger-btn.liquid' %}
        </div>
    </div>
</div>