<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="canonical" href="{{ page.url | prepend: site.url }}">

<title>
{%- if title -%}
{{ title }} | {{ site.title }}
{%- else -%}
{{ site.title }} | {{ site.description }}
{%- endif -%}
</title>

{% include 'components/style.liquid' %}

{% include 'components/icons.liquid' %}