<amp-sidebar id="site-menu" layout="nodisplay" side="right">
    <div class="flex flex-column px3" style="height: 100%;">
        <div class="flex items-center" style="height: 106px;">
            <div class="ml-auto fill-white" role="button" on="tap:site-menu.close" tabindex="0">
                {% include 'components/close-btn.liquid' %}
            </div>
        </div>
        <div class="flex-auto">
            {% for item in sidebar-menu %}
            <h1 class="h2 white mt0"><a href="{{ item.link }}">{{ item.name }}</a></h1>
            {% endfor %}
        </div>
        <div class="pb2">
            <h1 class="h5 white mt0 mb1">{{ 'Link Eksternal' | upcase }}</h1>
            {% for item in sidebar-links %}
            <p class="h4 white mt0 mb1"><a href="{{ item.link }}">{{ item.name }}</a></p>
            {% endfor %}
        </div>
    </div>
</amp-sidebar>