---
permalink: feed.xml
layout: false
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
    <title>{{ site.title }}</title>
    <link href="{{ site.url }}" />
    <updated>{{ page.date | dateIso }}</updated>
    <author>
        <name>{{ site.title }}</name>
        <uri>{{ site.url }}</uri>
    </author>
    <id>{{ site.url }}</id>
    {%- for post in collections.feed reversed -%}
    <entry>
        <title>{{ post.data.title }}</title>
        <link href="{{ post.url | prepend: site.url }}" />
        <id>{{ post.url | prepend: site.url }}</id>
        <published>{{ post.date | dateIso }}</published>
        <updated>{{ post.date | dateIso }}</updated>
        {%- for item in post.data.tags -%}
        {%- unless item == 'feed' -%}
        <category term="{{ item }}"/>
        {%- endunless -%}
        {%- endfor -%}
        <author>
            <name>{{ site.title }}</name>
            <uri>{{ site.url }}</uri>
        </author>
        <summary>{{ post.templateContent | strip | strip_html | truncatewords: 100 }}</summary>
    </entry>
    {%- endfor -%}
</feed>