---
layout: layout
permalink: index.html
---
<div style="height: 120px;"></div>

<!--Headline Carousel-->
<div id="home-carousel" class="pb3">
    <amp-carousel type="slides" width="16" height="10" layout="responsive" loop>
        <amp-img src="https://source.unsplash.com/1600x1000/daily?muslim" width="16" height="10" layout="responsive"></amp-img>
        <amp-img src="https://source.unsplash.com/1600x1000/daily?london" width="16" height="10" layout="responsive"></amp-img>
        <amp-img src="https://source.unsplash.com/1600x1000/daily?trump" width="16" height="10" layout="responsive"></amp-img>
    </amp-carousel>
</div>

<!--Headline Carousel-->
<div id="home-menu" class="pb3">
    <div class="clearfix flex flex-wrap content-stretch mxn1">
        <div class="col col-12 px1 mb2">
            <div class="p2 bg-accented home-menu-btn flex items-center">
                <h1 class="m0 h3 center"><a href="#">Kenali Wakil Kita</a></h1>
            </div>
        </div>
        {% for link in homemenu %}
        <div class="col col-6 px1 mb2">
            <div class="p2 bg-accented home-menu-btn flex items-center">
                <h1 class="m0 h3 center"><a href="{{ link.url }}">{{ link.name }}</a></h1>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<!--Photo Gallery Carousel-->
<div id="gallery-carousel" class="pb3">
    <h1 class="h2 mt0">Kegiatan Dalam Gambar</h1>
    <amp-carousel type="carousel" height="200" layout="fixed-height">
        <amp-img src="https://source.unsplash.com/200x200/daily?islam" width="200" height="200" ></amp-img>
        <amp-img src="https://source.unsplash.com/200x200/daily?government" width="200" height="200" ></amp-img>
        <amp-img src="https://source.unsplash.com/200x200/daily?british" width="200" height="200" ></amp-img>
    </amp-carousel>
    <p class="mt2 h5 bold"><a href="#">{{ "Semua Kegiatan" | upcase }}</a></p>
</div>

<!--Kabar Berita-->
<div id="kabar-berita" class="pb3">
    <h1 class="h2 mt0">Kabar Terkini</h1>
    {% for post in collections.news %}
    <div class="col col-12 mb1">
        <amp-img class="col col-4 rounded" src="{{ post.data.image }}" width="100" height="100" layout="responsive"></amp-img>
        <div class="col col-8 pl1">
            <h1 class="h4 mt0"><a href="{{ post.url }}">{{ post.data.title }}</a></h1>
        </div>
    </div>
    {% endfor %}
    <p class="col col-12 mt2 h5 bold"><a href="#">{{ "Semua Kabar Berita" | upcase }}</a></p>
</div>