<!DOCTYPE html>
<html lang="id">
<head>
    {% include 'components/head.liquid' %}
</head>
<body>
    <amp-story standalone title="{{ title }}" poster-portrait-src="{%- if cover -%}{{ cover | prepend: site.url }}{%- else -%}{{ site.logo }}{%- endif -%}" publisher="{{ site.title }}" publisher-logo-src="{{ site.logo }}">
        {% for item in gallery %}
        {% increment page_counter %}
        <amp-story-page id="page{{ page_counter }}">
            <amp-story-grid-layer template="fill">
                {% if item.type == 'image' %}
                <amp-img src="{{ item.media | prepend: site.url }}" width="720" height="1280" layout="responsive"></amp-img>
                {% elsif item.type == 'video' %}
                <amp-video src="{{ item.media | prepend: site.url }}" width="720" height="1280" layout="responsive" autoplay></amp-video>
                {% endif %}
            </amp-story-grid-layer>
            <amp-story-grid-layer class="gallery-caption p0" template="vertical">
                <p class="h5 white bg-transparent p2">{{ item.caption }}</p>
            </amp-story-grid-layer>
        </amp-story-page>
        {% endfor %}
        <amp-story-bookend layout="nodisplay">
            <script type="application/json">
                {
                    "bookendVersion": "v1.0",
                    "shareProviders": [
                        {
                            "provider": "whatsapp"
                        },
                        {
                            "provider": "facebook"
                        },
                        {
                            "provider": "twitter"
                        },
                        {
                            "provider": "system"
                        }
                    ],
                    "components": [
                        {%- if collections.gallery.size >= 3 -%}
                        {
                            "type": "heading",
                            "text": "Galeri Lainnya"
                        },
                        {%- for post in collections.gallery reversed limit:5 -%}
                        {%- unless post.url == page.url -%}
                        {
                            "type": "small",
                            "title": "{{ post.data.title }}",
                            "image": "{{ post.data.cover }}",
                            "url": "{{ post.url }}"
                        },
                        {%- endunless -%}
                        {%- endfor -%}
                        {%- endif -%}
                        {
                            "type": "heading",
                            "text": "Tautan"
                        },
                        {
                            "type": "cta-link",
                            "links": [
                                {
                                    "text": "Semua Galeri",
                                    "url": "{{ site.url }}/gallery"
                                },
                                {
                                    "text": "Beranda",
                                    "url": "{{ site.url }}"
                                }
                            ]
                        }
                    ]
                }
            </script>
        </amp-story-bookend>
    </amp-story>
</body>
</html>