---
layout: layout
---
{% include 'components/space.liquid' %}
<div class="max-width-4 mx-auto">
    <div id="content-header">
        <div id="content-title" class="mb2">
            <p class="mt0 mb1 accented h5 bold center">{{ subtitle | upcase }}</p>
            <h1 class="m0 center">{{ title }}</h1>
            <p class="mt1 mb1 h4 center"><time datetime="{{ page.date | dateIso }}">{{ page.date | dateReadable }}</time></p>
        </div>
        <amp-img src="{{ image.url }}" width="600" height="375" layout="responsive"></amp-img>
        <p class="mt1 mute italic mb0"><small>{{ image.caption }}</small></p>
    </div>
    <div id="content-main">
        {{ content }}
        <p class="mute italic">{{ "Sumber: " }}<a href="{{ sumber.url }}" rel="noreferrer" target="_blank">{{ sumber.title }}</a></p>
    </div>
    <div>
        {% include 'components/comments.liquid' %}
    </div>
</div>

