---
layout: layout
---
{% include 'components/space.liquid' %}
<div class="max-width-4 mx-auto">
    <div id="content-header">
        <div id="content-title" class="mb2">
            <p class="mt0 mb1 accented h5 bold center">{{ subtitle | upcase }}</p>
            <h1 class="m0 center">{{ title }}</h1>
            <p class="mt1 mb1 h4 center"><time datetime="{{ page.date | dateIso }}">{{ page.date | dateReadable }}</time></p>
        </div>
        <amp-img src="{{ image.url }}" width="600" height="375" layout="responsive"></amp-img>
        
    </div>
    <div class="clearfix mxn1">
        <div id="content-aside" class="col col-12 lg-col-3 px1">
            <p class="mt1 mute italic my2"><small>{{ image.caption }}</small></p>
            {% include 'components/social.liquid' %}
        </div>
        <div id="content-main" class="col col-12 lg-col-9 px1">
            {{ content }}
            <p class="mute italic">{{ "Sumber: " }}<a href="{{ sumber.url }}" rel="noreferrer" target="_blank">{{ sumber.title }}</a></p>
            <div>
                {% include 'components/comments.liquid' %}
            </div>
        </div>
    </div>
</div>

