<!--Home Menu-->
<div id="home-menu" class="col col-12 sm-col-5 md-col-4 px1 pb2">
    <div class="clearfix flex flex-wrap content-stretch mxn1">
        <div class="col col-12 px1 mb2">
            <amp-carousel id="personalia" type="slides" height="180" layout="fixed-height" loop>
                {% for item in personalia %}
                <div class="bg-accented home-menu-btn clearfix flex flex-wrap content-stretch">
                    <a href="{{ item.url }}" class="foto-personalia col col-4" style="background-image: url('{{ item.image | prepend: site.url }}');"></a>
                    <div class="col col-8 p2 white">
                        <p class="m0 h6 bold">{{ item.description | upcase }}</p>
                        <h1 class="my1 h3"><a href="{{ item.url }}">{{ item.name }}</a></h1>
                        <p class="m0 h5">{{ item.explanation }}</p>
                    </div>
                </div>
                {% endfor %}
            </amp-carousel>
        </div>
        {% for link in homemenu limit:1 %}
        <a href="{{ link.url }}" class="col col-6 px1 mb2">
            <div class="p2 bg-accented home-menu-btn flex items-center justify-center">
                <h1 class="m0 h3 white center">{{ link.name }}</h1>
            </div>
        </a>
        {% endfor %}
        <div class="col col-6">
        {% for link in homemenu offset:1 limit:2 %}
        <a href="{{ link.url }}" class="col col-12 px1 mb2">
            <div class="p2 bg-accented home-menu-btn flex items-center justify-center">
                <h1 class="m0 h3 white center">{{ link.name }}</h1>
            </div>
        </a>
        {% endfor %}
        </div>
        {% for link in homemenu offset:3 %}
        <a href="{{ link.url }}" class="col col-6 px1 mb2">
            <div class="p2 bg-accented home-menu-btn flex items-center justify-center">
                <h1 class="m0 h3 white center">{{ link.name }}</h1>
            </div>
        </a>
        {% endfor %}
    </div>
</div>