<div id="links-to-media" class="col col-12 md-col-3 mxn1 px1 pb2 mt2">
    <div class="px1">
        <p class="h4 bold accented">{{ "Link Media Nasional" | upcase }}</p>
        {% for item in content.news_links limit: 5 %}
        <div class="mb2">
            <p class="mt0 mb1 h6 bold accented"><a href="{{ item.source.href }}" target="_blank" rel="noreferrer">{{ item.source.title | upcase }}</a></p>
            <p class="mt0 h5"><a href="{{ item.link }}" target="_blank" rel="noreferrer">{{ item.title }}</a></p>
        </div>
        {% endfor %}
    </div>
</div>